include ../components/variables.pug

head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="description" content="Гостиница для котов и кошек")
  title #{title}
  link(rel="preload" href="fonts/Lato-600.woff2" as="font" type="font/woff2" crossorigin="anonymous")
  link(rel="preload" href="fonts/Lato-Medium.woff2" as="font" type="font/woff2" crossorigin="anonymous")
  link(rel="preload" href="fonts/rubik-v18-latin_cyrillic-700.woff2" as="font" type="font/woff2" crossorigin="anonymous")
  link(rel="stylesheet" href="css/style.min.css")

