.nav-block__wrapper
  .nav-block__logo-wrapper
    a.nav-block__logo-link(aria-label="Логотип Котейка" href="#")
      svg(width="64" height="52")
        use(xlink:href="img/sprite_auto.svg#logo")

  nav.main-nav
    ul.main-nav__list
      li.main-nav__item(class = currentUrl == "index.html" ? "main-nav__item--active" : "")
        a.main-nav__link(href="#")
          span Почему мы?
      li.main-nav__item(class = {"main-nav__item--active" : currentUrl == "rooms.html"})
        a.main-nav__link(href="#")
          span Номера
      li.main-nav__item
        a.main-nav__link(href="#")
          span Отзывы
      li.main-nav__item
        a.main-nav__link(href="#")
          span Как нас найти
  button.nav-block__button.hamburger
    span.hamburger__element
    span.hamburger__element
    span.hamburger__element
