.popup__confirm.js__popup-confirm
  .popup__confirm-wrapper
    p Спасибо за заявку!
    span Мы свяжемся с вами в ближайшее время
    button.popup__confirm-button-ok.button.js__button-confirm-ok(type="button") Ок
    button.popup__confirm-button-closed.js__button-confirm-close(type="button")
