.slider-buttons
  ul.slider-buttons__bullet-list
    li.slider-buttons__bullet-item
      button.slider-buttons__bullet.slider-buttons__bullet-1.slider-buttons__bullet--active(type="button" aria-label="Перелистывание - первый показ")
    li.slider-buttons__bullet-item
      button.slider-buttons__bullet.slider-buttons__bullet-2(type="button" aria-label="Перелистывание - второй показ")
    li.slider-buttons__bullet-item
      button.slider-buttons__bullet.slider-buttons__bullet-3(type="button" aria-label="Перелистывание - третий показ")
  ul.slider-buttons__list
    li.slider-buttons__buttons-item
      button.slider-buttons__button-arrow.slider-buttons__button-back(type="button" aria-label="Перелистывание - шаг вперед")
    li.slider-buttons__buttons-item
      button.slider-buttons__button-arrow.slider-buttons__button-next(type="button" aria-label="Перелистывание - шаг назад")
