.slider__buttons
  ul.slider__bullet-list
    li.slider__bullet-item
      button.slider__bullet.slider__bullet-1.slider__bullet--active(type="button")
    li.slider__bullet-item
      button.slider__bullet.slider__bullet-2(type="button")
    li.slider__bullet-item
      button.slider__bullet.slider__bullet-3(type="button")
  ul.slider__buttons-list
    li.slider__buttons-item
      button.slider__button-arrow.slider__button-back(type="button")
    li.slider__buttons-item
      button.slider__button-arrow.slider__button-next(type="button")
