{
    "parserOptions": {
        "ecmaVersion": 2017
    },

    "env": {
        "es6": true
    },

  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }
}
