extends components/main-prototype
block name-page
  - var currentUrl = "page-card1.html"
block main-content
  section.card-room
    h1.visually-hidden Информация о номере Супер-Люкс
    .card-room__wrapper.offers
      ul.card-room__preview-list
        +cardRoomPreview(picturesOffersSuperLuxuryPreview1)
        +cardRoomPreview(picturesOffersSuperLuxuryPreview2)
        +cardRoomPreview(picturesOffersSuperLuxuryPreview3)

      ul.card-room__card
        +offers-cards(roomSuperLuxuryPageCard)

  +rooms("Другие номера")



