.nav-block__wrapper {
  max-width: 1366px;
  min-height: 76px;
  margin: 0 auto;
  background: #fffefd;
  display: flex;
  justify-content: space-between;
  padding: 0 98px;
  box-sizing: border-box;
}

.nav-block__logo-wrapper {
  width: 10%;
  margin: 12px 0 0 0;
}

.nav-block__logo-wrapper svg {
  width: 64px;
  height: 52px;
}


@media (max-width: $desktop-width) {
  .nav-block__wrapper {
    padding: 0 25px;
  }

  .page-header .nav-block__wrapper {
    max-width: 100%;
    min-height: max-content;
    margin: 0 auto;
    background: #fffefd;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }

  .page-header .nav-block__logo-wrapper {
    width: 10%;
    margin: 12px 25px 12px 25px;
  }

  .nav-block__logo-wrapper svg {
    width: 64px;
    height: 52px;
  }
}
