.offers {
  width: 100%;
  padding: 70px 0 0 0;
  margin: 0 0 120px 0;
}

.offers__wrapper {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 98px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "title filter-min"
    "filter-max cards";
  grid-template-columns: 25% 75%;
  grid-template-rows: max-content max-content;

  @media (min-width: 1023px) and (max-width: 1350px) {
    padding: 0 calc(1vw * 98 / (1350 / 100));
  }
}

.offers__main-filter {
  grid-area: filter-max;
}

.offers__booking-options {
  grid-area: filter-min;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 20px 0;
}

.offers__list {
  grid-area: cards;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 30px;

  @media (min-width: 1023px) and (max-width: 1350px) {
    gap: calc(1vw * 30 / (1350 / 100));
  }
}

.offers__item {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 6px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-width: 270px;
  position: relative;
}

.offers__fiters-area-list,
.offers__fiters-equipment-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.offers__fiters-area input {
  width: 20px;
  height: 20px;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
}

.offers__wrapper>p {
  font-family: $rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #1a212f;
  margin: 0 0 0 0;
  grid-area: title;
  padding: 0 0 60px 0;

  @media (min-width: 1023px) and (max-width: 1350px) {
    font-size: calc(30px + (36 - 30) * ((100vw - 1023px) / (1350 - 1023)));
  }
}

.offers__booking-parametres {
  list-style-type: none;
  padding: 0;
}

.offers__info>p {
  font-family: $rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1a212f;
  margin: 0 0 20px 0;
}

.offers__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.offers__image {
  width: 101%;
  height: 185px;
  margin: 0 0 0 0;
  border-radius: 6px 6px 0px 0px;
  position: relative;
  left: -1px;
  top: -1px;

  @media (min-width: 1023px) and (max-width: 1350px) {
    height: calc(1vw * 185/ (1350 / 100));
  }
}

.offers__image img {
  width: 100%;
  height: 100%;

}

.offers__booking-price,
.offers__booking-equipment,
.offers__booking-area,
.offers__booking-size {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
}

.offers__booking-size {
  @media (min-width: 1023px) and (max-width: 1240px) {
    flex-direction: column;
  }
}

.offers__booking-price p,
.offers__booking-price span,
.offers__booking-equipment p,
.offers__booking-area p,
.offers__booking-area span,
.offers__booking-size span,
.offers__booking-size p {
  font-family: $lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1a212f;
  margin: 0;
}

.offers__icons-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.offers__info {
  padding: 25px 15px 75px 20px;

  @media (min-width: 1023px) and (max-width: 1240px) {
    padding: 25px 10px 75px 10px;
  }
}

.offers__booking-price span {
  margin-left: 3px;
  font-family: $lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #1a212f;
}

.offers__booking-area p,
.offers__booking-size p {
  margin-right: 3px;
}

.offers__booking-equipment p {
  margin-right: 12px;
}

.offers__icons-item {
  margin-left: 8px;
}

.offers__icons-item:first-child {
  margin-left: 0;
}

.offers__button {
  position: absolute;
  left: 20px;
  bottom: 25px;
  max-width: 230px;

  @media (min-width: 1023px) and (max-width: 1366px) {
    width: calc(1vw * 230 / (1366 / 100));
  }

  @media (min-width: 1023px) and (max-width: 1240px) {
    left: 10px;
    padding-left: calc(1vw * 30 / (1366 / 100));
  }
}

.offers__fiters-price-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 35px 0;
}

.offers__fiters-price-item {
  width: 100px;
  position: relative;
}

.offers__fiters-price-item input {
  width: 100px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  padding: 0 0 0 25px;
}

.offers__main-form {
  max-width: 210px;
}

.offers__fiters-price-item span {
  position: absolute;
  top: 2.5px;
  left: 5px;
}

.offers__main-filter p {
  font-family: $lato;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1A212F;
  margin: 0 0 20px 0;
}

.offers__fiters-area {
  margin: 0 0 35px 0;
}

.offers__item:hover {
  box-shadow: 0px 0px 33px rgba(161, 78, 78, 0.25);
}

.offers__fiters-area-list input {
  //display: none;
}

.offers__fiters-equipment-list label,
.offers__fiters-area-list label {
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 0 33px;
  font-family: $lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1a212f;
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }

  &:focus {
    font-weight: bold;
    outline: none;
  }

  &:hover::after {
    border: 1px solid rgb(133, 123, 123);
  }

  &:focus::after {
    border: 1px solid rgb(133, 123, 123);
  }
}

.offers__fiters-equipment-list label::after,
.offers__fiters-area-list label::after {
  @include pseudo;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(225, 225, 225);
  box-sizing: border-box;
  top: -4px
}

.offers__fiters-equipment-list label::before,
.offers__fiters-area-list label::before {
  @include pseudo;
  width: 10px;
  height: 6px;
  border-left: 1px solid #141312;
  border-bottom: 1px solid #141312;
  transform: rotate(-45deg);
  box-sizing: border-box;
  top: 0;
  left: 5px;
  display: none;
}

.offers__fiters-equipment-item,
.offers__fiters-area-item {
  margin: 0 0 25px 0;
}

.offers__fiters-equipment-list input:checked+label::before,
.offers__fiters-area-list input:checked+label::before {
  display: block;
}

.offers__fiters-price-item span,
.offers__fiters-price-item label {
  font-family: $lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1A212F;
}

.offers__filter-select {
  width: 174px;
  height: 35px;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border: 1px solid rgba(173, 152, 143, 0.18);
  border-radius: 25px;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  list-style-type: none;
  outline: none;
  position: relative;

  &::after {
    @include pseudo;
    width: 17px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%231A212F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    top: 12px;
    right: 13px;
  }

  &:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%23FF7236' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }

  &:focus::after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%23FF7236' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }

  &:hover {
    border: 1px solid rgba(255, 114, 54, .4);
    box-shadow: 0px 2px 12px rgba(255, 114, 54, .4);
  }

  &:focus {
    border: 1px solid rgba(255, 114, 54, .4);
    box-shadow: 0px 2px 12px rgba(255, 114, 54, .4);
  }
}

.offers__filter-select--hidden {
  box-shadow: unset;
  border: none;

  &:hover {
    box-shadow: unset;
    border: none;
  }

  &:focus {
    box-shadow: unset;
    border: none;
  }
}

.offers__pseudo-select {
  list-style-type: none;
  padding: 1px 0 0 1px;
  margin: 0;
  display: none;
  width: 174px;
  position: relative;

  &::after {
    @include pseudo;
    width: 17px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%231A212F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    top: 12px;
    right: 16px;
    transform: rotate(180deg);
  }

  &:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%23FF7236' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }
}

.offers__pseudo-select--active {
  display: block;
  height: max-content;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 4px;
}

.offers__option-default,
.offers__pseudo-option {
  cursor: pointer;
  position: relative;
  padding: 7px 4px 7px 40px;
  font-family: $lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #141312;
}

.offers__pseudo-option--active {
  display: block;
}

.offers__filter-select svg {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 11px;
}

.offers__icons-tooltip {
  display: block;
  position: relative;
  height: 20px;
}

.offers__icons-tooltip:hover:after {
  background: #ffffff;
  border: 1px solid #fac663;
  box-sizing: border-box;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  border-radius: 4px;
  bottom: 29px;
  content: attr(data-title);
  display: block;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
  z-index: 98;
  font-family: $lato;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #1a212f;
}

.offers__icons-tooltip:hover:before {
  @include pseudo;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-right: 1px solid #fac663;
  border-bottom: 1px solid #fac663;
  z-index: 100;
  top: -14.6px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

@media (max-width: $desktop-width) {
  .offers {
    width: 100%;
    padding: 50px 0 0 0;
    margin: 0 0 120px 0;
  }

  .offers__wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 35px;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
      "title"
      "filter-max"
      "filter-min"
      "cards";
    grid-template-columns: 100%;
    //grid-template-rows: max-content;

    @media (min-width: 1023px) and (max-width: 1350px) {
      padding: 0 calc(1vw * 98 / (1350 / 100));
    }
  }

  .offers__main-filter {
    grid-area: filter-max;
    margin: 0 0 10px 0;
  }

  .offers__booking-options {
    grid-area: filter-min;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 20px 0;
  }

  .offers__list {
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 30px;

    @media (min-width: 1023px) and (max-width: 1350px) {
      gap: calc(1vw * 30 / (1350 / 100));
    }
  }

  .offers__item {
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 6px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    max-width: 100%;
    position: relative;
  }

  .offers__fiters-area-list,
  .offers__fiters-equipment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 15px
  }

  .offers__fiters-area input {
    width: 20px;
    height: 20px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
  }

  .offers__wrapper>p {
    font-family: $rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #1a212f;
    margin: 0 0 0 0;
    grid-area: title;
    padding: 0 0 60px 0;

    @media (min-width: 1023px) and (max-width: 1350px) {
      font-size: calc(30px + (36 - 30) * ((100vw - 1023px) / (1350 - 1023)));
    }
  }

  .offers__booking-parametres {
    list-style-type: none;
    padding: 0;
  }

  .offers__info>p {
    font-family: $rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1a212f;
    margin: 0 0 20px 0;
  }

  .offers__link {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }

  .offers__image {
    width: 100.5%;
    height: 311px;
    margin: 0 0 0 0;
    border-radius: 6px 6px 0px 0px;
    position: relative;
    left: -1px;
    top: -1px;

    @media (min-width: 767px) and (max-width: 1024px) {
      height: calc(1vw * 311/ (1024 / 100));
    }
  }

  .offers__image img {
    width: 100%;
    height: 100%;
  }

  .offers__booking-price,
  .offers__booking-equipment,
  .offers__booking-area,
  .offers__booking-size {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
  }

  .offers__booking-size {
    @media (min-width: 1023px) and (max-width: 1240px) {
      flex-direction: column;
    }
  }

  .offers__booking-price p,
  .offers__booking-price span,
  .offers__booking-equipment p,
  .offers__booking-area p,
  .offers__booking-area span,
  .offers__booking-size span,
  .offers__booking-size p {
    font-family: $lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1a212f;
    margin: 0;
  }

  .offers__icons-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .offers__info {
    padding: 25px 15px 75px 20px;

    @media (min-width: 1023px) and (max-width: 1240px) {
      padding: 25px 10px 75px 10px;
    }
  }

  .offers__booking-price span {
    margin-left: 3px;
    font-family: $lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #1a212f;
  }

  .offers__booking-area p,
  .offers__booking-size p {
    margin-right: 3px;
  }

  .offers__booking-equipment p {
    margin-right: 12px;
  }

  .offers__icons-item {
    margin-left: 8px;
  }

  .offers__icons-item:first-child {
    margin-left: 0;
  }

  .offers__button {
    position: absolute;
    left: 20px;
    bottom: 25px;
    max-width: 230px;

    @media (min-width: 1023px) and (max-width: 1366px) {
      width: calc(1vw * 230 / (1366 / 100));
    }

    @media (min-width: 1023px) and (max-width: 1240px) {
      left: 10px;
      padding-left: calc(1vw * 30 / (1366 / 100));
    }
  }

  .offers__fiters-price {
    width: 21%;
  }

  .offers__fiters-price-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 35px 0;
    flex-direction: column;
  }

  .offers__fiters-price-item {
    width: 100px;
    position: relative;
    margin-bottom: 15px;
  }

  .offers__fiters-price-item input {
    width: 100px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    padding: 0 0 0 25px;
  }

  .offers__main-form {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .offers__fiters-price-item span {
    position: absolute;
    top: 2.5px;
    left: 5px;
  }

  .offers__main-filter p {
    font-family: $lato;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1A212F;
    margin: 0 0 20px 0;
  }

  .offers__fiters-area {
    margin: 0 0 0 0;
    width: 33%;
  }

  .offers__item:hover {
    box-shadow: 0px 0px 33px rgba(161, 78, 78, 0.25);
  }

  .offers__fiters-equipment {
    width: 46%;
  }

  .offers__fiters-equipment-list label,
  .offers__fiters-area-list label {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 33px;
    font-family: $lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1a212f;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }

    &:focus {
      font-weight: bold;
      outline: none;
    }

    &:hover::after {
      border: 1px solid rgb(133, 123, 123);
    }

    &:focus::after {
      border: 1px solid rgb(133, 123, 123);
    }
  }

  .offers__fiters-equipment-list label::after,
  .offers__fiters-area-list label::after {
    @include pseudo;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(225, 225, 225);
    box-sizing: border-box;
    top: -4px
  }

  .offers__fiters-equipment-list label::before,
  .offers__fiters-area-list label::before {
    @include pseudo;
    width: 10px;
    height: 6px;
    border-left: 1px solid #141312;
    border-bottom: 1px solid #141312;
    transform: rotate(-45deg);
    box-sizing: border-box;
    top: 0;
    left: 5px;
    display: none;
  }

  .offers__fiters-equipment-item,
  .offers__fiters-area-item {
    margin: 0 0 20px 0;
  }

  .offers__fiters-equipment-list input:checked+label::before,
  .offers__fiters-area-list input:checked+label::before {
    display: block;
  }

  .offers__fiters-price-item span,
  .offers__fiters-price-item label {
    font-family: $lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1A212F;
  }

  .offers__filter-select {
    width: 174px;
    height: 35px;
    background: #ffffff;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border: 1px solid rgba(173, 152, 143, 0.18);
    border-radius: 25px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    outline: none;
    position: relative;

    &::after {
      @include pseudo;
      width: 17px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%231A212F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      top: 12px;
      right: 13px;
    }

    &:hover::after {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%23FF7236' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }

    &:focus::after {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%23FF7236' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }

    &:hover {
      border: 1px solid rgba(255, 114, 54, .4);
      box-shadow: 0px 2px 12px rgba(255, 114, 54, .4);
    }

    &:focus {
      border: 1px solid rgba(255, 114, 54, .4);
      box-shadow: 0px 2px 12px rgba(255, 114, 54, .4);
    }
  }

  .offers__filter-select--hidden {
    box-shadow: unset;
    border: none;

    &:hover {
      box-shadow: unset;
      border: none;
    }

    &:focus {
      box-shadow: unset;
      border: none;
    }
  }

  .offers__pseudo-select {
    list-style-type: none;
    padding: 1px 0 0 1px;
    margin: 0;
    display: none;
    width: 174px;
    position: relative;

    &::after {
      @include pseudo;
      width: 17px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%231A212F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      top: 12px;
      right: 16px;
      transform: rotate(180deg);
    }

    &:hover::after {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%23FF7236' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }
  }

  .offers__pseudo-select--active {
    display: block;
    height: max-content;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 4px;
  }

  .offers__option-default,
  .offers__pseudo-option {
    cursor: pointer;
    position: relative;
    padding: 7px 4px 7px 40px;
    font-family: $lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #141312;
  }

  .offers__pseudo-option--active {
    display: block;
  }

  .offers__filter-select svg {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 11px;
  }
}

@media (max-width: $tablet-width) {
  .offers {
    width: 100%;
    padding: 50px 0 0 0;
    margin: 0 0 20px 0;
  }

  .offers__wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
      "title"
      "filter-max"
      "filter-min"
      "cards";
    grid-template-columns: 100%;

    @media (min-width: 1023px) and (max-width: 1350px) {
      padding: 0 calc(1vw * 98 / (1350 / 100));
    }
  }

  .offers__main-filter {
    grid-area: filter-max;
    margin: 0 0 10px 0;
    max-width: unset;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .offers__booking-options {
    grid-area: filter-min;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
  }

  .offers__list {
    grid-area: cards;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: unset;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: unset;

    @media (min-width: 1023px) and (max-width: 1350px) {
      gap: calc(1vw * 30 / (1350 / 100));
    }
  }

  .offers__item {
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 6px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 290px;
    max-width: 450px;
    position: relative;
    margin-bottom: 25px;

    @media (min-width: 319px) and (max-width: 768px) {
      width: calc(1vw * 290 / (319 / 100));
    }
  }

  .offers__fiters-area-list,
  .offers__fiters-equipment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 15px
  }

  .offers__fiters-area input {
    width: 20px;
    height: 20px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
  }

  .offers__wrapper>p {
    font-family: $rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: #1a212f;
    margin: 0 0 0 0;
    grid-area: title;
    padding: 0 0 40px 0;
    text-align: center;

    @media (min-width: 1023px) and (max-width: 1350px) {
      font-size: calc(30px + (36 - 30) * ((100vw - 1023px) / (1350 - 1023)));
    }
  }

  .offers__booking-parametres {
    list-style-type: none;
    padding: 0;
  }

  .offers__info>p {
    font-family: $rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1a212f;
    margin: 0 0 20px 0;
  }

  .offers__link {
    text-decoration: none;
    width: 100%;
    height: 100%;
  }

  .offers__image {
    width: 100.7%;
    height: 195px;
    margin: 0 0 0 0;
    border-radius: 6px 6px 0px 0px;
    position: relative;
    left: -1px;
    top: -1px;

    @media (min-width: 319px) and (max-width: 490px) {
      height: calc(1vw * 195/ (319 / 100));
    }

    @media (min-width: 490px) and (max-width: 768px) {
      height: 301px;
    }

  }

  .offers__image img {
    width: 100%;
    height: 100%;
  }

  .offers__booking-price,
  .offers__booking-equipment,
  .offers__booking-area,
  .offers__booking-size {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
  }

  .offers__booking-size {
    @media (min-width: 1023px) and (max-width: 1240px) {
      flex-direction: column;
    }
  }

  .offers__booking-price p,
  .offers__booking-price span,
  .offers__booking-equipment p,
  .offers__booking-area p,
  .offers__booking-area span,
  .offers__booking-size span,
  .offers__booking-size p {
    font-family: $lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1a212f;
    margin: 0;
  }

  .offers__icons-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .offers__info {
    padding: 25px 15px 75px 20px;

    @media (min-width: 1023px) and (max-width: 1240px) {
      padding: 25px 10px 75px 10px;
    }
  }

  .offers__booking-price span {
    margin-left: 3px;
    font-family: $lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #1a212f;
  }

  .offers__booking-area p,
  .offers__booking-size p {
    margin-right: 3px;
  }

  .offers__booking-equipment p {
    margin-right: 12px;
  }

  .offers__icons-item {
    margin-left: 8px;
  }

  .offers__icons-item:first-child {
    margin-left: 0;
  }

  .offers__button {
    position: absolute;
    left: 20px;
    bottom: 25px;
    max-width: 230px;

    @media (min-width: 1023px) and (max-width: 1366px) {
      width: calc(1vw * 230 / (1366 / 100));
    }

    @media (min-width: 1023px) and (max-width: 1240px) {
      left: 10px;
      padding-left: calc(1vw * 30 / (1366 / 100));
    }
  }

  .offers__fiters-price {
    width: 100%;
  }

  .offers__fiters-price-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
    flex-direction: row;
    max-width: 220px;
  }

  .offers__fiters-price-item {
    width: 100px;
    position: relative;
    margin-bottom: 15px;
  }

  .offers__fiters-price-item input {
    width: 100px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #e1e1e1;
    padding: 0 0 0 25px;
  }

  .offers__main-form {
    max-width: 100%;
    display: unset;
    justify-content: unset;
  }

  .offers__fiters-price-item span {
    position: absolute;
    top: 2.5px;
    left: 5px;
  }

  .offers__main-filter p {
    font-family: $lato;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1A212F;
    margin: 0 0 20px 0;
  }

  .offers__fiters-area {
    margin: 0 0 10px 0;
    width: 100%;
  }

  .offers__item:hover {
    box-shadow: 0px 0px 33px rgba(161, 78, 78, 0.25);
  }

  .offers__fiters-equipment {
    width: 100%;
  }

  .offers__fiters-equipment-list label,
  .offers__fiters-area-list label {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 33px;
    font-family: $lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1a212f;
    cursor: pointer;

    &:hover {
      font-weight: normal;
      color: #000000;
      opacity: 0.7;
    }

    &:focus {
      font-weight: normal;
      color: #000000;
      opacity: 0.7;
      outline: none;
    }

    &:hover::after {
      border: 1px solid rgb(133, 123, 123);
    }

    &:focus::after {
      border: 1px solid rgb(133, 123, 123);
    }
  }

  .offers__fiters-equipment-list label::after,
  .offers__fiters-area-list label::after {
    @include pseudo;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(225, 225, 225);
    box-sizing: border-box;
    top: -4px
  }

  .offers__fiters-equipment-list label::before,
  .offers__fiters-area-list label::before {
    @include pseudo;
    width: 10px;
    height: 6px;
    border-left: 1px solid #141312;
    border-bottom: 1px solid #141312;
    transform: rotate(-45deg);
    box-sizing: border-box;
    top: 0;
    left: 5px;
    display: none;
  }

  .offers__fiters-equipment-item,
  .offers__fiters-area-item {
    margin: 0 0 20px 0;
  }

  .offers__fiters-equipment-list input:checked+label::before,
  .offers__fiters-area-list input:checked+label::before {
    display: block;
  }

  .offers__fiters-price-item span,
  .offers__fiters-price-item label {
    font-family: $lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #1A212F;
  }

  .offers__filter-select {
    width: 174px;
    height: 35px;
    background: #ffffff;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border: 1px solid rgba(173, 152, 143, 0.18);
    border-radius: 25px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    outline: none;
    position: relative;

    &::after {
      @include pseudo;
      width: 17px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%231A212F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      top: 12px;
      right: 13px;
    }

    &:hover::after {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%23FF7236' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }

    &:focus::after {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%23FF7236' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }

    &:hover {
      border: 1px solid rgba(255, 114, 54, .4);
      box-shadow: 0px 2px 12px rgba(255, 114, 54, .4);
    }

    &:focus {
      border: 1px solid rgba(255, 114, 54, .4);
      box-shadow: 0px 2px 12px rgba(255, 114, 54, .4);
    }
  }

  .offers__filter-select--hidden {
    box-shadow: unset;
    border: none;

    &:hover {
      box-shadow: unset;
      border: none;
    }

    &:focus {
      box-shadow: unset;
      border: none;
    }
  }

  .offers__pseudo-select {
    list-style-type: none;
    padding: 1px 0 0 1px;
    margin: 0;
    display: none;
    width: 174px;
    position: relative;

    &::after {
      @include pseudo;
      width: 17px;
      height: 10px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%231A212F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      top: 12px;
      right: 16px;
      transform: rotate(180deg);
    }

    &:hover::after {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 7L7 1L1 7' stroke='%23FF7236' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }
  }

  .offers__pseudo-select--active {
    display: block;
    height: max-content;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 4px;
  }

  .offers__option-default,
  .offers__pseudo-option {
    cursor: pointer;
    position: relative;
    padding: 7px 4px 7px 40px;
    font-family: $lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #141312;
  }

  .offers__pseudo-option--active {
    display: block;
  }

  .offers__filter-select svg {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 11px;
  }
}
