.page-body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 100%;
  overflow-x: hidden;
}

.page-body--no-scroll {
  position: fixed;
  overflow-y: scroll;
}
