.rooms {
  max-width: 1366px;
  margin: 0 auto 110px;
}

.rooms h2 {
  font-family: $rubik;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #1A212F;
  text-align: center;
  margin: 0 50px 70px 50px;
}

.rooms__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
}

.rooms__wrapper::after {
  @include pseudo;
  width: 484px;
  height: 151px;
  background: url("../img/icons/feesh.svg");
  top: -84px;
  left: 0;
  z-index: -1;
}

.rooms__list {
  list-style-type: none;
  padding: 0;
  max-width: 1040px;
  margin: 0 auto 55px;
}

.rooms__item {
  position: relative;
  display: none;
}

.rooms__item--active {
  display: block;
}

.rooms__img {
  width: 600px;
  height: 404px;
}

.rooms__info {
  width: 500px;
  min-height: 284px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 8px;
  padding: 40px 50px 40px 100px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  @media (min-width: 1023px) and (max-width: 1120px) {
    width: calc(1vw * 470 / (1120 / 100));
    padding-left: 60px;
  }
}

.rooms__info h3 {
  font-family: $rubik;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #1a212f;
  margin: 0 0 30px 0;
}

.rooms__parametres-list {
  list-style-type: none;
  padding: 0 0 0 22px;
}

.rooms__parametres-item {
  position: relative;
}

.rooms__parametres-item::after {
  @include pseudo;
  width: 13px;
  height: 13px;
  background: #FAC663;
  border-radius: 50%;
  left: -22px;
  top: 1.5px;
}

.rooms__parametres-item p {
  font-family: $lato;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #1A212F;
  margin: 0 0 20px 0;
}

.rooms__button {
  width: 206px;
  height: 50px;
  box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
  padding: 0 0 0 30px;
  text-decoration: none;
  display: block;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: #fffefd;
}

@media (max-width: $desktop-width) {
  .rooms {
    max-width: 1366px;
    margin: 0 auto 60px;
  }

  .rooms h2 {
    font-family: $rubik;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #1A212F;
    text-align: center;
    margin: 0 50px 70px 50px;
  }

  .rooms__wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 25px;
    position: relative;
  }

  .rooms__wrapper::after {
    @include pseudo;
    width: 484px;
    height: 151px;
    background: url("../img/icons/feesh.svg");
    top: -84px;
    left: 0;
    z-index: -1;
  }

  .rooms__list {
    list-style-type: none;
    padding: 0;
    max-width: 1040px;
    margin: 0 auto 55px;
  }

  .rooms__item {
    position: relative;
    display: none;
  }

  .rooms__item--active {
    display: flex;
    justify-content: space-between;
  }

  .rooms__img {
    width: 600px;
    height: 404px;
  }

  .rooms__img img {
    width: 100%;
    height: 100%;
  }

  .rooms__img {
    width: 450px;
    height: 303px;

    @media (min-width: 767px) and (max-width: 1023px) {
      width: calc(1vw * 450 / (767 / 100));
      height: calc(1vw * 303 / (767 / 100));
    }
  }

  .rooms__info {
    width: 325px;
    min-height: 249px;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
    padding: 20px 15px 20px 3%;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

    @media (min-width: 767px) and (max-width: 1023px) {
      width: calc(1vw * 325 / (767 / 100));
      height: calc(1vw * 249 / (767 / 100));
    }

    @media (min-width: 820px) and (max-width: 1023px) {
      padding-left: 6%;
    }
  }

  .rooms__info h3 {
    font-family: $rubik;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #1a212f;
    margin: 0 0 20px 0;

    @media (min-width: 767px) and (max-width: 1023px) {
      margin-bottom: calc(1vw * 20 / (767 / 100));
    }
  }

  .rooms__parametres-list {
    list-style-type: none;
    padding: 0 0 0 22px;
    margin: 0 0 10px 0;

    @media (min-width: 767px) and (max-width: 1023px) {
      margin-bottom: calc(1vw * 10 / (767 / 100));
    }
  }

  .rooms__parametres-item {
    position: relative;
  }

  .rooms__parametres-item::after {
    @include pseudo;
    width: 13px;
    height: 13px;
    background: #FAC663;
    border-radius: 50%;
    left: -22px;
    top: 1.5px;
  }

  .rooms__parametres-item p {
    font-family: $lato;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1A212F;
    margin: 0 0 15px 0;

    @media (min-width: 767px) and (max-width: 1023px) {
      margin-bottom: calc(1vw * 15 / (767 / 100));
    }
  }

  .rooms__button {
    width: 206px;
    height: 50px;
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
    padding: 0 0 0 30px;
  }
}


@media (max-width: $tablet-width) {
  .rooms {
    max-width: 1366px;
    margin: 0 auto 40px;
  }

  .rooms h2 {
    font-family: $rubik;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #1A212F;
    text-align: center;
    margin: 0 50px 50px 50px;
  }

  .rooms__wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }

  .rooms__wrapper::after {
    @include pseudo;
    width: 484px;
    height: 151px;
    background: url("../img/icons/feesh.svg");
    top: -84px;
    z-index: -1;
    left: -122px;
    transform: scale(0.5);
  }

  .rooms__list {
    list-style-type: none;
    padding: 0;
    max-width: 100%;
    margin: 0 auto 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .rooms__item {
    position: relative;
    display: none;
  }

  .rooms__item--active {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .rooms__img {
    width: unset;
    height: unset;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  .rooms__img img {
    width: 100%;
    height: 100%;
  }

  .rooms__img {
    width: 260px;
    height: 175px;

    @media (min-width: 319px) and (max-width:767px) {
      width: calc(1vw * 260 / (319 / 100));
      height: calc(1vw * 175 / (319 / 100));
      max-width: 500px;
      max-height: 337px;
    }
  }

  .rooms__info {
    margin: 0 auto;
    width: 100%;
    max-width: 520px;
    min-height: max-content;
    background: #ffffff;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 1.0);
    border-radius: 8px;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
    position: unset;
    display: flex;
    order: -1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: unset;
  }

  .rooms__info h3 {
    font-family: $rubik;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #1a212f;
    margin: 0 0 15px 0;

    @media (min-width: 767px) and (max-width: 1023px) {
      margin-bottom: calc(1vw * 20 / (767 / 100));
    }
  }

  .rooms__parametres-list {
    list-style-type: none;
    padding: 0 0 0 22px;
    margin: 0 0 10px 0;

    @media (min-width: 767px) and (max-width: 1023px) {
      margin-bottom: calc(1vw * 10 / (767 / 100));
    }
  }

  .rooms__parametres-item {
    position: relative;
  }

  .rooms__parametres-item::after {
    @include pseudo;
    width: 13px;
    height: 13px;
    background: #FAC663;
    border-radius: 50%;
    left: -22px;
    top: 1.5px;
  }

  .rooms__parametres-item p {
    font-family: $lato;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1a212f;
    margin: 0 0 15px 0;

    @media (min-width: 767px) and (max-width: 1023px) {
      margin-bottom: calc(1vw * 15 / (767 / 100));
    }
  }

  .rooms__button {
    width: 206px;
    height: 50px;
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
    padding: 0 0 0 30px;
    margin: 0 0 200px 0;

    @media (min-width: 320px) and (max-width: 605px) {
      margin-bottom: calc(1vw * 200 / (320 / 100));
    }

    @media (min-width: 606px) and (max-width: 767px) {
      margin-bottom: 390px;
    }
  }
}
