// Viewports

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

//Safe fonts

$lato:"Lato", "Arial", sans-serif;
$rubik: "Rubik", "Verdana", sans-serif;

//Colors

$white: #ffffff;
