@font-face {
  font-family: "Lato";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  src: url("../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Lato-Medium.woff2") format("woff2");
  src: url("../fonts/Lato-Medium.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Lato-600.woff2") format("woff2");
  src: url("../fonts/Lato-600.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  src: url("../fonts/Lato-Bold.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v18-latin_cyrillic-regular.woff2") format("woff2");
  src: url("../fonts/rubik-v18-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v18-latin_cyrillic-500.woff2") format("woff2");
  src: url("../fonts/rubik-v18-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v18-latin_cyrillic-700.woff2") format("woff2");
  src: url("../fonts/rubik-v18-latin_cyrillic-700.woff") format("woff");
}
