- var lang = "ru";
- var title = "Котейка - гостиница для котиков";

-
  var picturesRoomsComfort = ["img/comfort", "img/comfort",
    "img/comfort", "767", "1023", "600", "404",
    "Кот-британ в номере комфорт", "jpg"]

-
  var picturesRoomsEconomPlus = ["img/economical", "img/economical",
    "img/economical", "767", "1023", "600", "404",
    "Рыжий котёнок в номере эконом", "jpg"]

-
  var picturesRoomsSuite = ["img/suite", "img/suite",
    "img/suite", "767", "1023", "600", "404",
    "Кошка в гнезде в номере сьют", "jpg"]

-
  var mapFooter = ["img/map", "img/map", "img/map", "767", "1023", "798",
    "580", "Карта местоположения гостиницы Котейка", "jpg"]

-
  var picturesOffersEconom = ["img/offers/offers-econom", "img/offers/offers-econom",
    "img/offers/offers-econom", "767", "1023", "270", "185",
    "Полосатый кот в номере Эконом", "jpg"]

-
  var picturesOffersEconomPlus = ["img/offers/offers-econom-plus", "img/offers/offers-econom-plus",
    "img/offers/offers-econom-plus", "767", "1023", "270", "185",
    "Пёстрая кошка номере Эконом-Плюс", "jpg"]

-
  var picturesOffersComfort = ["img/offers/offers-comfort", "img/offers/offers-comfort",
    "img/offers/offers-comfort", "767", "1023", "270", "185",
    "Дымчатый кот номере Комфорт", "jpg"]

-
  var picturesOffersSuite = ["img/offers/offers-suite", "img/offers/offers-suite",
    "img/offers/offers-suite", "767", "1023", "270", "185",
    "Полосатая кошка в номере Сьют", "jpg"]

-
  var picturesOffersLuxury = ["img/offers/offers-luxury", "img/offers/offers-luxury",
    "img/offers/offers-luxury", "767", "1023", "270", "185",
    "Полосатая кошка спит в номере Люкс", "jpg"]

-
  var picturesOffersSuperLuxury  = ["img/offers/offers-super-luxury", "img/offers/offers-super-luxury",
    "img/offers/offers-super-luxury", "767", "1023", "270", "185",
    "Белая кошка играет в номере Супер люкс", "jpg"]

-
  var picturesOffersSuperLuxuryPageCard  = ["img/page-card1/super-lyxery-page-card", "img/page-card1/super-lyxery-page-card",
    "img/page-card1/super-lyxery-page-card", "767", "1023", "500", "396",
    "Белая кошка играет в номере Супер люкс", "jpg"]


-
  var picturesOffersSuperLuxuryPreview1 = ["img/page-card1/super-lyxery-preview1", "img/page-card1/super-lyxery-preview1",
    "img/page-card1/super-lyxery-preview1", "767", "1023", "70", "112",
    "Превью - котёнок в номере Супер-Люкс", "jpg"]

-
  var picturesOffersSuperLuxuryPreview2 = ["img/page-card1/super-lyxery-preview2", "img/page-card1/super-lyxery-preview2",
    "img/page-card1/super-lyxery-preview2", "767", "1023", "70", "112",
    "Превью - кошечка точит когти в номере Супер-Люкс", "jpg"]

-
  var picturesOffersSuperLuxuryPreview3 = ["img/page-card1/super-lyxery-preview3", "img/page-card1/super-lyxery-preview3",
    "img/page-card1/super-lyxery-preview3", "767", "1023", "70", "112",
    "Превью - пёстрая кошка отдыхает в номере Супер-Люкс", "jpg"]


- var roomEconom = ["Эконом", "0,63 м2", "90х70х180 см", "100₽", "page-card1.html", true, false, false, false, false, picturesOffersEconom, "0,63"]
- var roomEconomPlus = ["Эконом плюс", "0,90 м2", "90х100х180 см", "200₽", "page-card1.html", false, true, true, false, false, picturesOffersEconomPlus, "0,90"]
- var roomComfort = ["Комфорт", "1,13 м2", "100х125х180 см", "250₽", "page-card1.html", false, true, true, true, false, picturesOffersComfort, "1,13"]
- var roomSuite = ["Сьют", "1,56 м2", "125х125х180 см", "350₽", "page-card1.html", false, true, true, true, false, picturesOffersSuite, "1,56" ]
- var roomLuxury = ["Люкс", "2,56 м2", "160х160х180 см", "500₽", "page-card1.html", false, true, true, true, true, picturesOffersLuxury, "2,56"]
- var roomSuperLuxury = ["Супер-Люкс", "2,88 м2", "180х125х180 см", "600₽", "page-card1.html", false, true, true, true, true, picturesOffersSuperLuxury, "2,88"]
- var roomSuperLuxuryPageCard = ["Супер-Люкс", "2,88 м2", "180х125х180 см", "600₽", "page-card1.html", false, true, true, true, true, picturesOffersSuperLuxuryPageCard, "2,88"]
