// Стили для функционирования модальных окон
.js__booking--no-active {
  display: none;
}

.js__popup--active {
  display: block;
}

.js__booking-button-close-form--active {
  display: block;
}

.js__body--no-scroll {
  position: fixed;
  overflow-y: scroll;
}

// Стили для функционирования мобильного меню
@media (max-width: $desktop-width) {
  .js__nav-button--active {
    display: block;
  }

  .js__nav--no--active {
    display: none;
  }

  .js__header-full-size {
    min-height: 100vh;
    height: max-content;
  }
}
